<!DOCTYPE html> 
<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

   
</style>
<div id="sidebar" class="sidebar">
    <i class="fa-solid fa-times" id="close-icon"></i>
    <nav>
        <ul>
            <li><a href="/home/felipe/Documentos/presenca_humor/src/view/principal/principal.html">Inicio</a></li>
            <li><a href="#">Histórico</a></li>
    </nav>
</div>

<header>
    <i class="fa-solid fa-bars" id="menu-icon"></i>
    <i class="fa-solid fa-circle-user" id="user-icon"></i>
</header>